{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Материал "{{ object|title }}" ({{ object.slug }})</h1>
</div>

<div class="container">
      <div class="row text-center">

        <div class="col-3">

                <div class="card-body">

                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ object.body }}</li>
                    </ul>
                    <a class="btn btn-warning" href="{% url 'blog:edit' object.pk %}" role="button">Изменить</a>
                    <a class="btn btn-danger" href="{% url 'blog:delete' object.pk %}" role="button">Удалить</a>
                    <a class="btn btn-primary" href="{% url 'blog:list' %}" role="button">Назад</a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container">
    <br>
    <p>Просмотры {{ object.views_count }}</p>
</div>
{% endblock %}
