{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    Введите адрес электронной почты на которую будет отправлен новый пароль
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form class="row" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">
                        Сбросить пароль
                        </button>
                    </form>
                </div>
            </div>
        </div>
  </div>
{% endblock %}